@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@500&family=Rubik&display=swap');

body {
  background-color: black;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
  border: 2px solid rgba(255, 255, 255, 0.153);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(91, 88, 88);
}

#particle-js{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}